apiVersion: apps/v1
kind: Deployment
metadata:
  name: java-api
spec:
  replicas: 1
  revisionHistoryLimit: 1
  selector:
    matchLabels:
      app: java-api
  template:
    metadata:
      labels:
        app: java-api
    spec:
      containers:
      - image: 485229547579.dkr.ecr.ap-southeast-1.amazonaws.com/abc:latest-a3d35a448304ad49ea69be5a82f088db727e5252
        name: java-api
        ports:
        - containerPort: 8080
